/* hoja de estilo css */

body{background-attachment: fixed;
background-image:url(../fotos/foto2.jpg);
color:white;
margin:195px;}

#texto{background-color:black;
padding-left:20px,;
font-size:25px;
font-style:italic}

h1{font-size:80px;
font-style:italic;
background-color:#9C080B;
border-color:#A19A99;
border-width:5px;
border-style:solid;
padding:5px;
margin:20px;
background-image:url(../recursos/h1.jpg)}

#header{padding:5px;}
	

div ul{list-style-type:none;}

div ul li{float:left}

li a{text-decoration:none;
color:#9C080B;
border-color:#A19A99;
border-width:3px;
border-style:solid;
font-size:45px;
margin:5px;
padding:5px}

.primerh2{border-color:black;
border-width:5px;
border-style:solid;
margin-top:100px;
margin-bottom:-10px;}

#foto1{float:left;margin:15px}

#fotoshow{float:right;margin-top:100px;
margin-right:15px}

#fotomanzi{float:left;
margin-left:20px;
margin-right:15px}
h2{font-size:40px}

#footer{background-color:#BFBCB8;
background-image:url(../recursos/footer.jpg);
font-size:25px;
border-style:solid;
border-width:5px;
border-color:gray;
margin-left:420px;
margin-right:0px;
color:black;
padding-top:20px;
margin-top:40px}

#yo{float:left;
margin-left:0px;
margin-bottom:35px;
margin-top:40px;
font-family:Courier New}

#bibliografia a{text-decoration:none;
list-style-type:none;
color:#9C080B;
border-color:#A19A99;
border-width:3px;
border-style:solid;
margin-left:190px}

#bibliografia{margin:40px;
padding-bottom:20px}

#local{float:right;
margin-right:35px}

#titulo{margin-left:190px}


#boton{margin-top:-80px;
margin-left:10px}




 






 



